/* Content Menu CSS */
body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
}


#content-menu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-weight: 700;
  font-size: 11pt;
}

#content-menu ul {
  list-style-type: none;
  padding-left: 0em; 
}

#content-menu a {
	color: #000000;
	padding: 5px 5px 2px 25px;
}

#content-menu a:hover{
	color: #C0C0C0;
  text-decoration: none;
}

#content-menu a img:hover{
  opacity: 0.5;
}

/* Heike Header CSS */
#heike-head {
  font-size: 18pt;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0.05em;
  word-wrap: break-word;
  text-align-last: left;
  padding-bottom: 25px;
}

#heike-head a {
  display:block;
}

/* The navigation menu links */
.main-nav a {
  text-decoration: none;
  display: block;
}

.sub-nav {
  list-style-type: none;
  display: none;
  margin-left: 5px;
}

.sub-nav a {
	text-decoration: none;
	font-weight: 550;
  font-size: 9pt;
	line-height: 1em;
  letter-spacing: 0.03em;
}

/* General Content Section CSS */
#content-section {
	margin-left: 300px;  /* Same as the width of the sidebar */
	width: 65%;
  padding-top: 120px;
  padding-left: 25px;
}

#content-section a {
	font-weight: normal;
	color: #000000;
}

#content-section a:hover{
	color: #C0C0C0;
	text-decoration: none;
}

#content-section p {
  letter-spacing: 0.03em;
  line-height: 1.4em;
}

#content-section img {
	width: 100%;
	height: auto;
	padding-top: 0px;
}

#content-section div {
	border-width: 1px;
}

#content-section li {
  list-style: none;
}

/* Works Page Specific CSS */
.works-page-image {
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.works-page-image:hover {
    opacity: 0.75;
}

#biography-div {
  width: 75%;
}

/* Single Content Section CSS */
.single-image-div img {
  display: block;
  margin: auto;
  padding-top: 20px;
}

.single-image-div-news {
  width: 20%; 
  float: left
}

.single-video-div {
  position: relative;
  padding:56.25% 0 0 0;
}

.single-video-div iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.image-padding {
  padding-top: 50px;
}

.single-text-div {
	border-width: 1px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-top: 20px;
  padding-right: 0px;
}

.single-text-div-news {
  padding-top: 0px;
}

.single-text-div p {
	margin-bottom: 0em;
  font-weight: 400;
  font-size: 11pt;
}

.single-title-div {
	padding-left: 0px;
  padding-right: 20px;
	vertical-align: middle;
}

.single-title-div p {
	font-weight: 700;
	font-size: 11pt;
}

.single-news-container {
  display:flex; 
  padding-bottom:70px;
}

.single-news-text-container {
  width: 80%; 
  padding-left: 50px;"
}

/* Single Gallery Section CSS */
#single-gallery-div img{
  padding-bottom: 20px;
}

.gallery-nav-div {
	display: flex;
}

.gallery-nav-div div {
	width: 50%;
}

/* Exhibition Views Page CSS */
.views-single-div {
  width: 50%; 
  padding-right: 10px;
  padding-left: 10px;
}

.views-single-div a {
  font-weight: normal;
  font-size: 15px;
}

.views-row-div{
  display:flex;
}

/* Responsiveness of the Content menu/section */
@media screen and (max-width: 1000px) {
  #content-menu {
    width: 90%; 
    padding-left: 5%;
    height: auto;
    position: relative;
    font-size: 22pt;
  }

  #content-menu a {
    padding: 5px 5px 2px 0px;
  }

  .sub-nav a {
    font-size: 20pt;
  }

  #content-section {
    width: 100%;
    margin-left: 0px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .single-text-div p {
    font-size: 22pt;
  }

  .single-title-div p {
    font-size: 22pt;
  }

  .views-single-div a {
    font-size: 22pt;
  }

  .tablepress-id-1 tbody td {
    font-size: 22pt !important;
  }

  #biography-div p {
    font-size: 22pt;
  }

}

@media screen and (min-width: 1500px) {
  
  #content-section {
    margin-left: 20%;
  }

}

/* Load More Button Styling */
.loadmore{
  background-color: #fff;
  border-radius: none;
  display: block;
  text-align: center;
  cursor:pointer;
  padding: 10px 10px 10px 10px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;  
}
.loadmore:hover{
  opacity: 0.5
}

/* disable scroll bars class */
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
